# Requiments file for external client dependencies used by the container runtime.
# These are a subset of the client package dependencies (some are only used locally)
# and are pinned to more specific versions than what the full client package declares.
aiohttp==3.9.1
asgiref==3.5.2
certifi>=2022.12.07
grpclib==0.4.7
protobuf>=3.19.0