# Requirements file for testing the minimal client dependency set in the container environment
# Not currently used in production; exists for CI usage until we remove modal/requirements.txt
aiohttp==3.9.1
aiostream==0.4.4
asgiref==3.5.2
certifi>=2022.12.07
fastapi==0.88.0
grpclib==0.4.7
protobuf>=3.19.0
rich==12.3.0