[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120

[tool.mypy]
python_version = "3.9"
exclude = "build"
ignore_missing_imports = true
check_untyped_defs = true
no_strict_optional = true
namespace_packages = true

[[tool.mypy.overrides]]
module = ["ddtrace.*"]
check_untyped_defs = false
follow_imports = "skip"

[tool.pytest.ini_options]
timeout = 300
addopts = "--ignore=modal/cli/programs"
filterwarnings = [
    "error::DeprecationWarning",
    "error::modal.exception.DeprecationError",
    "ignore::DeprecationWarning:pytest.*:",
    "ignore::DeprecationWarning:pkg_resources.*:",
    "ignore::DeprecationWarning:google.rpc.*:",
    "ignore:Type google._upb._message.MessageMapContainer:DeprecationWarning",
    "ignore:.*pkg_resources.*:DeprecationWarning::",
]

[tool.ruff]
exclude = ['.venv', '.git', '__pycache__', 'proto', 'build', 'modal_proto']
ignore = ['E501', 'E741']
select = ['E', 'F', 'W', 'I']
line-length = 120

[tool.ruff.per-file-ignores]
"*_test.py" = ['E712']
"test/supports/notebooks/*.py" = ['E402']

[tool.ruff.isort]
combine-as-imports = true
known-first-party = [
    "modal",
    "modal_base_images",
    "modal_proto",
    "modal_utils",
    "modal_version",
]
extra-standard-library = ["pytest"]
