[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120

[tool.mypy]
python_version = "3.9"
exclude = "build"
ignore_missing_imports = true
check_untyped_defs = true
no_strict_optional = true
namespace_packages = true

[[tool.mypy.overrides]]
module = [
    "ddtrace.*",
]
check_untyped_defs = false
follow_imports = "skip"

[tool.pytest.ini_options]
timeout = 300
env = ["MODAL_SENTRY_DSN="]
filterwarnings = [
    "error::DeprecationWarning",
    "error::modal.exception.DeprecationError",
    "ignore::DeprecationWarning:pytest.*:",
    "module:Jupyter is migrating its paths to use standard platformdirs:DeprecationWarning",
]

[tool.ruff]
exclude = [
    '.venv',
    '.git',
    '__pycache__',
    'proto',
    'build',
    'modal_proto',

]
ignore = [
    'E501',
    'E741',
]
# Enable these Pyflakes codes by default.
select = [
    'E',
    'F',
    'W',
]

[tool.ruff.per-file-ignores]
"*_test.py" = ['E712']
"client_test/supports/notebooks/*.py" = ['E402']
