# Development requirements

black~=22.3.0
flake8~=4.0.1
grpcio-tools==1.48.0
grpclib==0.4.3
invoke~=1.7.0
mypy==0.950
mypy-protobuf~=3.2.0
pre-commit~=2.17.0
pytest-asyncio @ git+https://github.com/modal-labs/pytest-asyncio.git@b535db05f6e43019700483c442ab6686f132a415
pytest-markdown-docs==0.4.1
pytest-timeout~=2.1.0
twine~=4.0.1
wheel~=0.37.1
