# Development requirements

black==23.11.0
cbor2==5.7.0
fastapi~=0.115
flaky~=3.7
grpcio-tools==1.48.0;python_version<'3.11'  # TODO: remove when we drop client support for Protobuf 3.19
grpcio-tools==1.59.2;python_version>='3.11' and python_version<'3.13'
grpcio-tools==1.66.2;python_version>='3.13' and python_version<'3.14'
grpcio-tools==1.76.0;python_version>='3.14'
grpclib @ git+https://github.com/vmagamedov/grpclib.git@474f0556db5a7fc90e50ac826eadf86fce500c78
httpx~=0.23.0
invoke~=2.2
pyjwt==2.10.1
mypy~=1.11.2
mypy-protobuf~=3.3.0  # TODO: can't use mypy-protobuf>=3.4 because of protobuf==3.19 support
pre-commit>=2.21,<4
packaging>=24.2
pytest~=8.4.0
pytest-asyncio @ git+https://github.com/modal-labs/pytest-asyncio.git@2eeeb8990a07031073c2775d56473aea5c7b47b3
pytest-env~=1.1.5
pytest-markdown-docs==0.9.0
pytest-timeout~=2.4.0
python-dotenv~=1.0.0;python_version>='3.8'
requests~=2.32.4
ruff==0.9.6
types-croniter~=1.0.8
types-python-dateutil~=2.8.10
types-requests~=2.31.0
types-setuptools~=57.4.11
types-six==1.16.21
types-toml~=0.10.4
twine~=6.1.0
wheel~=0.38.1
nbclient==0.6.8
notebook==6.5.1
jupytext==1.14.1
pyright==1.1.351
python-json-logger==2.0.7  # unpinned transitive dependency of jupytext breaking on later versions
console-ctrl==0.1.0
synchronicity[compile]==0.10.3
