aiostream==0.4.4
cloudpickle==2.0.0
colorama==0.4.3
dataclasses==0.8; python_version == '3.6'
fastprogress==1.0.0
grpcio==1.43.0
importlib_metadata==4.8.1
protobuf==3.19.4
synchronicity==0.1.4
toml==0.10.2
typer==0.4.0
