name: Check
on: push

jobs:
  black:
    name: Black
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-cached-python
        with:
          version: "3.10"

      - name: Check files using the black formatter
        run: black --check .

  link:
    name: Ruff linting
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-cached-python
        with:
          version: "3.10"

      - run: inv lint

  mypy:
    name: Mypy
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-cached-python
        with:
          version: "3.10"

      - run: inv protoc

      - name: Build type stubs
        run: python -m synchronicity.type_stubs modal.image modal.app modal.stub modal.mount modal.functions modal.object modal.dict modal.queue modal.client modal.secret modal.shared_volume modal.proxy

      - run: inv mypy

  check-copyright:
    name: Check copyright
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-cached-python
        with:
          version: "3.10"

      - run: inv check-copyright
