name: CI/CD

on: push

env:
  TERM: linux
  TERMINFO: /etc/terminfo
  # Can't be set in `pytest-env` because pytest imports the client for filterwarnings
  # before it applies the env vars for the plugin.
  MODAL_SENTRY_DSN: ""

jobs:
  client-test:
    name: Unit tests on ${{ matrix.python-version }} and ${{ matrix.os }} (Conda = ${{ matrix.use-conda }})

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: ["ubuntu-20.04"]
        use-conda: ["false"]
        include:
          - os: "macos-latest"
            python-version: "3.10"
            use-conda: "false"
          - os: "windows-latest"
            python-version: "3.10"
            use-conda: "false"
          - os: "macos-latest"
            python-version: "3.10"
            use-conda: "true"
          - os: "windows-latest"
            python-version: "3.10"
            use-conda: "true"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-cached-python
        with:
          python-version: ${{ matrix.python-version }}
          use-conda: ${{ matrix.use-conda }}

      - name: Build protobuf
        run: inv protoc

      - name: Build client package (installs all dependencies)
        run: pip install -e .

      - name: Run client tests
        env:
          JUPYTER_PLATFORM_DIRS: 1  # TODO: fix
        run: pytest -v -s client_test

      - name: Run docstring tests
        run: pytest -s --markdown-docs -m markdown-docs modal
       

  publish-base-images:
    name: |
      Publish base images for ${{ matrix.image-name }} ${{ matrix.python-version }}
    if: github.ref == 'refs/heads/main'
    needs: [client-test]
    runs-on: ubuntu-20.04
    env:
      MODAL_LOGLEVEL: DEBUG
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        image-name: ["debian_slim", "conda"]

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-cached-python
        with:
          version: "3.10"

      - name: Build protobuf
        run: inv protoc

      - name: Build client package (installs all dependencies)
        run: pip install -e .

      - name: Publish base images
        run: |
          python -m modal_base_images.${{ matrix.image-name }} ${{ matrix.python-version }}

  publish-client:
    name: Publish client package
    if: github.ref == 'refs/heads/main'
    needs: [client-test]
    runs-on: ubuntu-20.04
    concurrency: publish-client
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-cached-python
        with:
          version: "3.10"

      - name: Bump the version number
        run: inv update-build-number $GITHUB_RUN_NUMBER

      - uses: EndBug/add-and-commit@v9
        with:
          add: modal_version/_version_generated.py
          message: "[auto-commit] Bump the build number"
          pull: "--rebase --autostash"

      - name: Build protobuf
        run: inv protoc

      - name: Install all dependencies
        run: pip install -e .

      - name: Build wheel
        run: python setup.py bdist_wheel

      - name: Publish client mount
        env:
          MODAL_LOGLEVEL: DEBUG
          MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
          MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
        run: python -m modal_base_images.client_mount

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        run: twine upload dist/* --non-interactive
