name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:

# Cancel previous runs of the same PR but do not cancel previous runs on main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  TERM: linux
  TERMINFO: /etc/terminfo
  PYTHONIOENCODING: utf-8

jobs:
  check:
    uses: ./.github/workflows/client-check.yml
    with:
      working-directory: "."
      python-version: "3.10"

  docs-test:
    uses: ./.github/workflows/client-docs.yml
    with:
      working-directory: "."

  client-test:
    uses: ./.github/workflows/client-tests.yml
    with:
      working-directory: "."
    secrets:
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
