name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:

# Cancel previous runs of the same PR but do not cancel previous runs on main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  TERM: linux
  TERMINFO: /etc/terminfo
  PYTHONIOENCODING: utf-8

jobs:
  check:
    uses: ./.github/workflows/client-check.yml
    with:
      working_directory: "."
      python_version: "3.10"

  docs-test:
    uses: ./.github/workflows/client-docs.yml
    with:
      working_directory: "."

  client-versioning:
    if: github.ref == 'refs/heads/main'
    name: Update changelog and client version
    concurrency: client-versioning
    runs-on: ubuntu-24.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      release-hash: ${{ steps.release-data.outputs.hash }}

    steps:
      - name: Generate token for Github PR Bot
        id: generate_token
        uses: tibdex/github-app-token@32691ba7c9e7063bd457bd8f2a5703138591fa58 # v1
        with:
          app_id: ${{ secrets.GH_PRBOT_APP_ID }}
          private_key: ${{ secrets.GH_PRBOT_APP_PRIVATE_KEY }}

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          token: ${{ steps.generate_token.outputs.token }}
          fetch-depth: 2 # Needed so that we can check whether the version file was modified

      - uses: ./.github/actions/setup-cached-python-client
        with:
          version: "3.10"
          working_directory: "."

      - name: Update the version
        run: inv bump-dev-version

      - name: Update the changelog
        run: inv update-changelog --sha=$GITHUB_SHA

      - name: Get release tag
        id: tag
        run: echo "release_tag=`inv get-release-tag`" >> "$GITHUB_OUTPUT"

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          pull: "--rebase --autostash"
          add: modal_version/__init__.py CHANGELOG.md
          commit: "--allow-empty"
          message: "[auto-commit] [skip ci] Bump the build number"
          tag: ${{ steps.tag.outputs.release_tag }}
          default_author: github_actions

      - name: Get release hash
        id: release-data
        run: echo "hash=`git rev-parse HEAD`" >> "$GITHUB_OUTPUT"

      - name: Install the client
        run: |
          inv protoc
          pip install .

      - name: Publish client mount
        env:
          MODAL_ENVIRONMENT: main
          MODAL_LOGLEVEL: DEBUG
          MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
          MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
        run: python -m modal_global_objects.mounts.modal_client_package

  client-test:
    uses: ./.github/workflows/client-tests.yml
    with:
      working_directory: "."
    secrets:
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}

  publish-client:
    name: Publish client package
    if: github.ref == 'refs/heads/main'
    needs: [client-versioning, client-test]
    runs-on: ubuntu-24.04
    concurrency: publish-client
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          # Check out the commit that bumped the version, after the merge that triggered the workflow
          ref: ${{ needs.client-versioning.outputs.release-hash }}

      - uses: ./.github/actions/setup-cached-python-client
        with:
          # This is load-bearing because it determines the version of the protobuf compiler
          # used for the gencode, which should be the *minimal* version that we support.
          version: "3.10"
          working_directory: "."

      - name: Build protobuf
        run: inv protoc

      - name: Install all dependencies
        run: pip install -e .

      - name: Install synchronicity compile time deps
        run: pip install "synchronicity[compile]==0.11.1"

      - name: Build type stubs
        run: inv type-stubs

      - name: Install build
        run: pip install build

      - name: Build package distributions (wheel and source)
        run: |
          python -m build

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: twine upload dist/* --non-interactive

  publish-python-standalone:
    name: Publish Python standalone mounts
    if: github.ref == 'refs/heads/main'
    needs: [client-versioning, client-test, publish-client]
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    env:
      MODAL_LOGLEVEL: DEBUG
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          # Check out the commit that bumped the version, after the merge that triggered the workflow
          ref: ${{ needs.client-versioning.outputs.release-hash }}

      - uses: ./.github/actions/setup-cached-python-client
        with:
          version: "3.11"
          working_directory: "."

      - name: Build protobuf
        run: inv protoc

      - name: Build client package (installs all dependencies)
        run: pip install -e .

      - name: Publish mounts
        run: python -m modal_global_objects.mounts.python_standalone

  publish-client-dependency-mounts:
    name: Publish client dependency mounts
    if: github.ref == 'refs/heads/main'
    needs: [client-versioning, client-test, publish-client]
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    env:
      MODAL_LOGLEVEL: DEBUG
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          # Check out the commit that bumped the version, after the merge that triggered the workflow
          ref: ${{ needs.client-versioning.outputs.release-hash }}

      - uses: ./.github/actions/setup-cached-python-client
        with:
          version: "3.11"
          working_directory: "."

      - name: Build protobuf
        run: inv protoc

      - name: Build client package (installs all dependencies)
        run: pip install -e .

      - name: Publish mounts
        run: python -m modal_global_objects.mounts.modal_client_dependencies

  publish-base-images:
    name: |
      Publish base images for ${{ matrix.image-name }} ${{ matrix.image-builder-version }}
    if: github.ref == 'refs/heads/main'
    needs: [client-versioning, client-test, publish-client]
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    env:
      MODAL_LOGLEVEL: DEBUG
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
    strategy:
      matrix:
        image-builder-version: ["2023.12", "2024.04", "2024.10", "2025.06"]
        image-name: ["debian_slim", "micromamba"]

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          # Check out the commit that bumped the version, after the merge that triggered the workflow
          ref: ${{ needs.client-versioning.outputs.release-hash }}

      - uses: ./.github/actions/setup-cached-python-client
        with:
          version: "3.11"
          working_directory: "."

      - name: Build protobuf
        run: inv protoc

      - name: Build client package (installs all dependencies)
        run: pip install -e .

      - name: Set the Modal environment
        run: modal config set-environment main

      - name: Publish base images
        run: inv publish-base-images ${{ matrix.image-name }}
          --builder-version ${{ matrix.image-builder-version }}
          --allow-global-deployment --no-confirm
