name: Unit tests
on:
  workflow_call:
    inputs:
      working_directory:
        required: true
        type: string
    secrets:
      MODAL_TOKEN_ID:
        required: true
      modal_token_secret:
        required: true


jobs:
  client-test:
    name: Unit tests on ${{ matrix.python-version }} and ${{ matrix.os }} (protobuf=${{ matrix.proto-version }})
    timeout-minutes: 30

    strategy:
      fail-fast: false # run all variants across python versions/os to completion
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: ["ubuntu-24.04"]
        proto-version: ["latest"]
        include:
          - os: "macos-15-intel" # x86-64
            python-version: "3.10"
            proto-version: "latest"
          - os: "macos-15" # ARM64 (M1)
            python-version: "3.10"
            proto-version: "latest"
          - os: "windows-latest"
            python-version: "3.10"
            proto-version: "latest"
          - os: "ubuntu-24.04"
            python-version: "3.10"
            proto-version: "3.20"

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Install Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Setup uv with caching
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          enable-cache: true
          version: "0.9.24"
          cache-dependency-glob: |
            ${{ inputs.working_directory }}/requirements.dev.txt
            ${{ inputs.working_directory }}/pyproject.toml

      - name: Install Python packages
        shell: bash
        run: |
          uv pip install --system -r requirements.dev.txt

      - if: matrix.proto-version != 'latest'
        name: Install protobuf
        run: uv pip install protobuf==${{ matrix.proto-version }}

      - name: Build protobuf
        run: inv protoc

      - name: Build client package (installs all dependencies)
        run: uv pip install -e .

      - name: Run client tests
        run: inv test

      - name: Run docstring tests
        if: github.event.pull_request.head.repo.fork == false
        env:
          MODAL_ENVIRONMENT: client-doc-tests
          MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
          MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
        run: pytest -v --markdown-docs -m markdown-docs modal
